{% extends "references\base.html" %}

{% load crispy_forms_tags %}

{% block title %}
    Авторизация
{% endblock title %}


{% block content %}


<form method="POST" action="{% url 'accounts:login' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="row justify-content-center">
        <button class="btn btn-lg btn-primary btn-block" style="width: 200px;" type="submit">Войти</button>
        <input type="hidden" name="next" value="{{ next }}">
    </div>
    

  </form>
{% endblock content %}