{% extends "references\base.html" %}

{% block title %}Пользователь{% endblock %}

{% block content %}
<div class="row">
<div class="col-3">
    <div class="list-group">
        <a href="{% url 'shop:catalog' %}" class="list-group-item">Мои данные</a>
        <a href="{% url 'shop:author' %}" class="list-group-item">Заказы</a>
      </div>
</div>
    <div class="col-9">
    <h1>Профиль</h1>
    <p>Добро пожаловать в наш магазин.</p>
    <span class="user">
        {{user}}}
    </span>
</div>
</div>
{% endblock %}