<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal"  href="{% url 'shop:home' %}">exxpe1 book store</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'shop:home' %}">Главная</a>
            <a class="p-2 text-dark" href="{% url 'shop:catalog' %}">Каталог</a>
          
        </nav>
        
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search">
            <button type="button" class="btn btn-primary">
                <i class="fa fa-search"></i>
              </button>
          </form>
        {% if user %}
            <a class="p-2 text-dark" >{{ user }}</a>
        {% else %}
            <a class="p-2 text-dark" >Войти</a>
        {% endif %}
          
          <a class="btn btn-outline-primary" href="#"><i class="fa fa-shopping-cart"></i></a>
          

      </div>



    <div class="container">
        <div class="container">

            <div class="row">
        
              <div class="col-lg-3">
        
                <h1 class="my-4">Категории</h1>
                <div class="list-group">
                    <a href="{% url 'shop:catalog' %}" class="list-group-item">Книги</a>
                    <a href="{% url 'shop:author' %}" class="list-group-item">Авторы</a>
                    <a href="{% url 'shop:publisher' %}" class="list-group-item">Издательства</a>
                    <a href="{% url 'shop:genre' %}" class="list-group-item">Жанры</a>
                    <a href="{% url 'shop:series' %}" class="list-group-item">Серии</a>
                  </div>
        
              </div>
              
        
            <div class="col-lg-9">
        
        
                {% block content %}{% endblock %}
              
        
            </div>
            
        
          </div>
        
        
        
        </div> 
</body>

</html>