{% extends 'references/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<h1>Новинки</h1>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for object in objects %}
    <div class="carousel-item {% if object == objects.0 %}active{% endif %}">
      <div class="card mb-3 border-light text-dark container-fluid" style="max-width: 480px; text-align: center;">
        <div class="row g-0">
          <div class="col-md-4">
          {% if object.image %}
            <a href="{% url 'shop:product' object.pk %}"><img class="card-img-top" src="{{ object.image.url }}"></a>
            {% else %}
            <a href="{{object.id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
          {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="{% url 'shop:product' object.pk %}"><h5 class="card-title">{{ object.name_product }}</h5></a>
              {% for elem in object.author.all %}
              <p class="card-text">{{ elem }}</p>
              {% endfor %}
              <div class="price">{{ object.price }} BYN</div>

              <p class="card-text"><small class="text-muted">
                <a href="{% url 'shop:product' object.pk %}" class="btn btn-success btn-sm text-bottom"></i>Подробнее</a>
              </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <i class="fa fa-angle-left" style="font-size:48px;color:grey"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <i class="fa fa-angle-right" style="font-size:48px;color:grey"></i>
  </a>
</div>
      
{% endblock %}
