{% extends 'references/base.html'%}

{% block title %}
Книги
{% endblock %}

{% block content %}
<h1>Книги</h1><br>
        <div class="row">
          
          {% for el in object_list %}
          
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
              {% if el.image.url %}
                <a href="{% url 'shop:product' el.pk %}"><img class="card-img-top" src="{{ el.image.url }}"></a>
              {% else %}
                <a href="{{el.id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              {% endif %}
              <div class="card-body">
                <h6 class="card-title">
                  <a href="{{el.id}}">{{ el.name_product }}</a>
                  
                </h6>
                {% for elem in el.genre.all %}
                    <h6>{{ elem }}</h6>
                {% endfor %}
                {% for elem in el.author.all %}
                    {{ elem }}
                {% endfor %}
                <br>
                <!-- {% for elem in el.author.all %}
                <p class="card-text">{{ elem }}</p>
                {% endfor %}  -->
                <div class="price">{{ el.price }} BYN</div>
                <!--<h5>{{ el.created  }}</h5>-->
              </div>
            </div>
          </div>
          {% endfor %}  
        </div>


        



{% endblock %}