{% extends 'references/base.html'%}

{% block title %}
{{ object.name_product }}
{% endblock %}


{% block content %}

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      {% if object.image.url %}
        <img class="card-img-top" src="{{ object.image.url }}">
      {% else %}
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
      {% endif %}
      <h1 class="display-5 font-weight-normal">{{ object.name_series }}</h1>
      <h2 class="display-5 font-weight-normal">{{ object.desc_author }} </h1><br>
      {% for elem in object.author.all %}
      <p class="lead font-weight-normal">{{ elem }}</p>
      {% endfor %}
      <a class="btn btn btn-secondary" href="{% url 'series' %}">Обратно к Сериям</a><br><br>
      <a class="btn btn btn-success" href="{% url 'series-create' %}">Добавить Серию</a>
      <a class="btn btn btn-primary" href="{% url 'series-update' object.pk %}">Обновить Сeрию</a><br><br>
      <a class="btn btn btn-danger" href="{% url 'series-delete' object.pk %}">Удалить</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
    <h1></h1>
{% endblock %} 
