{% extends 'references/base.html'%}

{% block title %}
Серии
{% endblock %}

{% block content %}
<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Категории</h1>
        <div class="list-group">
          <a href="{% url 'catalog' %}" class="list-group-item">Книги</a>
          <a href="{% url 'author' %}" class="list-group-item">Авторы</a>
          <a href="{% url 'publisher' %}" class="list-group-item">Издательства</a>
          <a href="{% url 'genre' %}" class="list-group-item">Жанры</a>
          <a href="{% url 'series' %}" class="list-group-item">Серии</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">


        <div class="row">
            
          {% for el in object_list %}
          
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              {% if el.image.url %}
                <a href="{% url 'series' el.pk %}"><img class="card-img-top" src="{{ el.image.url }}"></a>
              {% else %}
                <a href="{{el.id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              {% endif %}
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{el.id}}">{{ el.name_series }}</a>
                  
                </h4>
                
                <!-- {% for elem in el.author.all %}
                <p class="card-text">{{ elem }}</p>
                {% endfor %}  -->
                <h5>{{ el.desc_author }} </h5>
                <!--<h5>{{ el.created  }}</h5>-->
              </div>
              <!--<div class="card-footer">
                <small class="text-muted">★ ★ ★ ★ ☆</small>
              </div>-->
            </div>
          </div>
          {% endfor %}  
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  
{% endblock %}