{% extends 'references/base.html'%}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <h1>Корзина</h1>
    {% if cart %}  
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Товар</th>
            <th scope="col">Количество</th>
            
            <th scope="col">Цена</th>
            <th scope="col">Сумма</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
         
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td style="width: 10%">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="
                                {% if product.image %}
                                    {{ product.image.url }}
                                {% else %}
                                    -
                                {% endif %}" style="width:50px;">
                        </a>
                    </td>
                    <td class="td-cart">{{ product.name_product }}</td>
                    <td class="td-cart">{{ item.quantity }}</td>
                    
                    <td class="num td-cart">{{ item.price }}</td>
                    <td class="num td-cart">{{ item.total_price }}</td>
                    <td class="td-cart"><a href="{% url 'cart:cart_remove' product.pk%}" class="delete__link"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Итого</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    
    <p class="text-right">
        <a href="{% url 'shop:catalog' %}" class="btn btn-light">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-success">Оформить заказ</a>
    </p>
    {% else %}
        <div class="">Ваша корзина пуста</div>
    <p class="text-center">
        <a href="{% url 'shop:catalog' %}" class="btn btn-light">В магазин</a>
    </p>
    {% endif %}

    
{% endblock %}